.nav {
    padding-top: .5vw;
    height: 2rem;
    background-color: #9E7676;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.itemNav {
    display: inline-block;
    margin-left: 30px;
    width: 20%;
}

.span {
    color: rgb(252, 244, 244);
}

.span:hover {
    color :black;
    font-size: large
}

