@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Laila:wght@500&display=swap');


body {
    background-image: url('../LandingPage/img/Depositphotos_230107080_XL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    font-family: 'Laila', sans-serif;
}

body:before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(252, 252, 252);
    opacity: 0.8;
}

input {
    font-family: 'Laila', sans-serif;
    border-radius: 5px;
}

input:hover {
    border: 2px solid rgb(223, 164, 164)
}

button {
    background-color: rgb(141, 112, 112);
    border: none;
    border-radius: 11px;
    min-width: 2rem;
    min-height: 2rem;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Laila', sans-serif;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.title {
    position: relative;
    margin-top: 8px;
    margin-bottom: 0px;
}

.mainContainer {
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
}

.containerSecond {
    display: flex;
    flex-direction: row;
    width: 90;
    height: 80vh;
    position: relative
}

.containerFilter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    max-width: 10rem;
    border-radius: 40px;
    margin: auto;
    
}
.containerRender {
    width: 70rem;
    padding-right: 2rem;
}

.filterBy {
    display: flex;
    flex-direction: column;   
    margin-bottom: 2rem; 
    border: 1px solid black;
    background-color: rgb(207, 188, 188);;
    border-radius: 40px;
    width: 9rem;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.p {
    display: inline-block;
    margin: 6px;
    margin-right: 2px;
}


.search_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.search {
    margin-left: 20px;
}


.loading {
    justify-content: center;
}
