

.list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.items button {
    border: none;
    border-radius: 6px;
    background-color: #9E7676;
    opacity: 0.8;
    width: 1.7rem;
    height: 2rem;
    margin: .5px;
    cursor: pointer;
}

.items button:hover {
    background-color: rgb(173, 155, 155);
    border: none;
    width: 2rem;
    padding-top: 1px;
}

.items button:focus {
    background-color: rgb(238, 181, 181);
    opacity: 0.7;
}


