.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.div {
    position: relative;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(247, 239, 239, 0.3));
}

.home {
    top: 50%;
    left: 50%;
}

.back_video {
    opacity: 0.8;
    position: absolute;
    height: 100vh;
}

.maker {
    position: absolute;
    align-self:flex-end;
    margin-right: 10px;
}


